lists are ordered sequence that can hold a variety of object types

In [1]:
my_list=[1,2,3]

In [2]:
my_list=['string',1,2,3]

In [3]:
my_list

['string', 1, 2, 3]

In [4]:
len(my_list)

4

now lets us discuss about indexing and slicing

In [5]:
mylist=['one','two','three',4,5,6]

In [6]:
mylist

['one', 'two', 'three', 4, 5, 6]

In [7]:
mylist[0]

'one'

In [8]:
mylist[1:]

['two', 'three', 4, 5, 6]

In [9]:
mylist[:3]

['one', 'two', 'three']

we can also concatenate

In [10]:
mylist=mylist+['seven']

In [11]:
mylist+['eight']

['one', 'two', 'three', 4, 5, 6, 'seven', 'eight']

we can also multiply the list and doubling is not permanent

In [12]:
mylist*2

['one',
 'two',
 'three',
 4,
 5,
 6,
 'seven',
 'one',
 'two',
 'three',
 4,
 5,
 6,
 'seven']

we can add an variable using .append

In [13]:
mylist.append(9)

In [17]:
mylist

['one', 'two', 'three', 4, 5, 6, 'seven', 9, 10]

In [15]:
mylist.append(10)

In [18]:
mylist

['one', 'two', 'three', 4, 5, 6, 'seven', 9, 10]

and we can remove the variable using .pop and it removes the last variable

In [19]:
mylist.pop()

10

In [20]:
mylist

['one', 'two', 'three', 4, 5, 6, 'seven', 9]

so we can also remove specific item or variable

In [21]:
mylist.pop(2)

'three'

In [22]:
mylist

['one', 'two', 4, 5, 6, 'seven', 9]

note: listing indexing will return error if there is no element at that index for example

In [24]:
mylist[100]

IndexError: ignored

there are more use more arguments like sort and reverst

In [25]:
listt=['f','b','e','d','a','c']

In [37]:
listtt=[5,2,6,4,1,3]

In [27]:
listt.sort()

In [28]:
listt

['a', 'b', 'c', 'd', 'e', 'f']

In [30]:
listt.reverse()

In [31]:
listt

['f', 'e', 'd', 'c', 'b', 'a']

In [39]:
listtt.sort()

In [40]:
listtt

[1, 2, 3, 4, 5, 6]

In [43]:
listtt.reverse()

nesting list we can also combine group of lists together and then we can easily grab any elements with indexing

In [44]:
lst1=[1,2,3]
lst2=[4,5,6]
lst3=[7,8,9]

In [45]:
group=[lst1,lst2,lst3]

In [46]:
group

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

now we canuse indexing for example

In [47]:
group[1]

[4, 5, 6]

and if we want specificall the one particular value

In [48]:
group[1][2]

6

List Comprehensions :

Python has an advanced feature called list comprehensions. They allow for quick construction of lists. To fully understand list comprehensions we need to understand for loops. So don't worry if you don't completely understand this section, and feel free to just skip it since we will return to this topic later.

But in case you want to know now, here are a few examples!

In [53]:
r=[row [1] for row in group]

In [54]:
r

[2, 5, 8]